# Sort, Select, Filter ...

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
#Load DataFrame
names = pd.read_pickle(r'.\DATA\names\yob_all.pkl')
names.head()

## SORT

In [ ]:
#Sort by Value
names.sort_values(by=['year'], ascending=False)

In [ ]:
names.sort_values(by=['births','name'])

In [ ]:
names.sort_values(by=['year'], ascending=False, inplace=True)

In [ ]:
names

## SELECT - by index, pos, label, ...

In [ ]:
#SELECT - Getting
names['name']

In [ ]:
names[['name','births']]

In [ ]:
print(names.loc[99])
print('\n')
print(names.loc[[1, 50, 300]])

In [ ]:
# Row Selection
names[1000:1003]

In [ ]:
#SELECT  by label
names.loc[100:103,['name','sex']]

In [ ]:
#boolean indexing for selection.
names[(names.births > 1000) & (names.year == 2000)]

In [ ]:
#NumPy Style
names.iloc[0]

In [ ]:
names.iloc[1:3]

In [ ]:
names.iloc[[10,20],[0,3]]

In [ ]:
names.iloc[:,1:3]

In [ ]:
#One cell
names.iloc[1,0]

In [ ]:
#BOOLEAN COLUMNS
names['name'] == 'John'

In [ ]:
names['year'] == 1880

In [ ]:
# BOOLEAN SELECTION
names[names.name > 'X']

In [ ]:
names[names['name'] > 'X']

In [ ]:
names[(names.year >= 2000) & (names.sex == 'F')]

In [ ]:
names[names.births == 5]

In [ ]:
names[names['name'].isin(['John','Mary'])].sort_values(by=['name'], ascending=False)

In [ ]:
names[names.name.isin(['John','Mary'])].sort_values(by=['name'], ascending=False)

### query, where, mask ...  methods

In [ ]:
names.where(names.sex == 'F')

In [ ]:
names.query('name == "Mary" & year == 2006').sort_values(by='births')

## PLOTING

In [ ]:
%matplotlib inline

In [ ]:
#value counts - Histograming
names.year.value_counts(sort=False)

In [ ]:
names.sex.value_counts(sort=False)

In [ ]:
#Unique values
names['sex'].unique()

In [ ]:
names['name'].unique()

In [ ]:
#Slicing
girl_names = names[names['sex'] == 'F']
girl_names

In [ ]:
boy_names = names[names.sex == 'M']
boy_names

In [ ]:
john = boy_names[boy_names['name'] == 'John']
john

In [ ]:
john = john[['year','births']]
john

In [ ]:
john = john.set_index(['year'])

In [ ]:
john.plot(color='Blue')

In [ ]:
mary = girl_names[girl_names['name'] == 'Mary']
mary = mary[['year','births']]
mary = mary.set_index(['year'])
mary.plot(color='Blue')

In [ ]:
chole = girl_names[girl_names['name'] == 'Chole']
chole = chole[['year','births']]
chole = chole.set_index(['year'])
chole.plot(color='Green')

In [ ]:
names.query('name == "Mary" & year == 2006').sort_values(by='year')

In [ ]:
names.query('name == "John"').sort_values(by='year')

In [ ]:
names.query('name == "Anan"').sort_values(by='year')