## Data Cleaning

### Issues:
* missing data
* wrong syntax -- zip code, Phone number, SSN, ...
* Invalid data type -- Dollar sign in amount, char in number, wrong DATE ...
* Out of bounds -- Age > 150, negative values, GPS position ...
* Invalid lookup value -- State name, ...
* duplicate key values

### Causes
* Entry Error
* data communication
* hardware fault errors
* DW ETL 

### Discover and Act
* DUI of columns and rows
* Create new fields -- age range, income brackets

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
#Load DataFrame
names = pd.read_pickle(r'.\DATA\names\yob_all.pkl')
names.head()

In [ ]:
# delete rows - boolean masking
names = names[names.year != 1880] # any condition
names.head()

In [ ]:
#Update 
names.loc[names.sex == 'F', 'sex'] = 'FEMALE'
names

In [ ]:
names.loc[names.sex == 'FEMALE', 'sex'] = 'F'
names

### INSERT - ROWS

In [ ]:
names[names.name == 'Pokemon']

In [ ]:
df2 = pd.DataFrame([['Pokemon','M',20,2010]], columns=('name','sex','births','year'))
df2

In [ ]:
names = names.append(df2,ignore_index=True)
names.tail()

In [ ]:
#insert by index
names.loc[len(names)]=['Pokemon','M',30,2012] 
names.loc[len(names)]=['Pokemon','M',40,2015]

In [ ]:
names[names.name == 'Pokemon']

## NULL = NaN values

In [ ]:
names.isnull().any() #.any()

In [ ]:
names.loc[len(names)]=['Pokemon','M',np.nan,2012] 
names.loc[len(names)]=['Pokemon','M',100,None] 
names.tail()

In [ ]:
names.isnull()

In [ ]:
#Other functions
#fillna
#notnull
#dropna

In [ ]:
#Filter null valus

names[names.isnull().any(axis=1)] #.isnull().any()

In [ ]:
#DROP all rows with null value
x = names.dropna(how='any')

In [ ]:
x.isnull().sum() #.sum()

## Add/Delete column

In [ ]:
names['column_name'] = 'some value'
names['NameLength'] = names['name'].str.len()
names.head()

In [ ]:
# delete column
#df.drop([Column Name or list],inplace=True,axis=1)
names.drop(['NameLength'],inplace=True,axis=1)
names